.todo-list__task-wrp {
    box-shadow: 3px 3px 8px 1px rgba(34, 60, 80, 0.2);
    padding: 8px;
    margin-top: 30px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    border-radius: 10px;
}

.todo-list__title {
    color: #505050;
}

.todo-list__task.todo-list__task_complete span {
    color: #b4b4b4;
    text-decoration: line-through;
}


