.input-field {
    margin-top: 50px;
}

.input-field label {
    color: gray;
}

.input-field label {
    color: gray;
}

.input-field input[type=text]:focus + label {
    color: gray;
}

.todo-list__empty {
    margin-top: 50px;
    text-align: center;
    color: gray;
    font-size: 20px;
    font-weight: lighter;
}
